<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hostelmanager.hostelmasterr">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.hostelmanager.hostelmasterr.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name="com.hostelmanager.hostelmasterr.SearchActivity" />
        <activity android:name="com.hostelmanager.hostelmasterr.GalleryActivity" />
        <activity android:name="com.hostelmanager.hostelmasterr.SignUp">
            <intent-filter>
                <action android:name="com.hostelmanager.hostelmaster.SignUp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.hostelmanager.hostelmasterr.SignInerActivity" />
        <activity android:name="com.hostelmanager.hostelmasterr.AppSignUp" />
        <activity android:name="com.hostelmanager.hostelmasterr.MyIssues" />
        <activity android:name="com.hostelmanager.hostelmasterr.SliderFromIssues" />
        <activity android:name="com.hostelmanager.hostelmasterr.propertysignup" />
        <activity android:name="com.hostelmanager.hostelmasterr.Successful_sign_up" />
        <activity android:name="com.hostelmanager.hostelmasterr.review_edit" />
        <activity android:name="com.hostelmanager.hostelmasterr.workwithus" />
        <activity
            android:name="com.hostelmanager.hostelmasterr.mess_schedulepopup"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name="com.hostelmanager.hostelmasterr.getToken"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name="com.hostelmanager.hostelmasterr.rating_bar"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name="com.hostelmanager.hostelmasterr.feedback" />
        <activity android:name="com.hostelmanager.hostelmasterr.refer_and_earn" />
        <activity android:name="com.hostelmanager.hostelmasterr.SetMobile" />
        <activity android:name="com.hostelmanager.hostelmasterr.MobileAndOTP" />
        <activity android:name="com.hostelmanager.hostelmasterr.IssuesList" />
        <activity android:name="com.hostelmanager.hostelmasterr.HostelSignUp" />
        <activity
            android:name="com.hostelmanager.hostelmasterr.Issues"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name="com.hostelmanager.hostelmasterr.Notifications" />

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/issue" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />

        <activity android:name="com.hostelmanager.hostelmasterr.NavigatorActivityBuyAndSell" />
        <activity
            android:name="com.hostelmanager.hostelmasterr.BuyAndSell"
            android:label="@string/title_activity_buy_and_sell" />
        <activity
            android:name="com.hostelmanager.hostelmasterr.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hostelmanager.hostelmasterr.finalBookDetails" />

        <service android:name="com.hostelmanager.hostelmasterr.RecieveNotification2">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.hostelmanager.hostelmasterr.RecieveNotification">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.hostelmanager.hostelmasterr.showBookForBuy"></activity>
    </application>

</manifest>